{
  "user": "user name",
  "url": "https://account_name.snowflakecomputing.com:443",
  "account": "account_name",
  "private_key": "PEM Private Key",
  "port": 443,
  "host": "account_name.snowflakecomputing.com",
  "schema": "schema",
  "scheme": "https",
  "database": "database_name",
  "connect_string": "jdbc:snowflake://account_name.snowflakecomputing.com:443",
  "ssl": "on",
  "warehouse": "warehouse_name",
  "role": "role_name"
}