{
  "user": "admin",
  "url": "http://snowflake.dev.local:8082",
  "account": "admin",
  "private_key": "PEM Private Key",
  "port": 443,
  "host": "admin.snowflakecomputing.com",
  "schema": "public",
  "scheme": "https",
  "database": "snowhouse_export",
  "connect_string": "jdbc:snowflake://admin.snowflakecomputing.com:443",
  "ssl": "on",
  "warehouse": "regress",
  "role": "accountadmin"
}