{
  "user": "admin",
  "url": "http://snowflake.dev.local:8082", // This is required, or it can be constructed from host, scheme and port
  "private_key": "PEM Private Key",
  "port": 443,
  "host": "admin.snowflakecomputing.com",
  "scheme": "https",
  "role": "accountadmin"
}
