<configuration>
    <!-- Define a ConsoleAppender named STDOUT that writes log messages to the console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Define the log message pattern -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%thread] [%logger{10}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set specific logger for Snowflake package -->
    <logger name="com.snowflake.ingest" level="DEBUG"/>

    <!-- Set the root logger level to DEBUG and attach the STDOUT appender -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
